<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="cn.sbx0.zhibei.logic"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/logic/user/certification/UserCertificationMapper.xml"/>
    </mappers>
</configuration>