<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="cn.sbx0.zhibei.logic.user.certification"/>
        <package name="cn.sbx0.zhibei.logic.technical.achievements"/>
        <package name="cn.sbx0.zhibei.logic.technical.requirements"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/UserCertificationMapper.xml"/>
        <mapper resource="mybatis/TechnicalAchievementsMapper.xml"/>
        <mapper resource="mybatis/TechnicalRequirementsMapper.xml"/>
    </mappers>
</configuration>