<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" href="css/lib/dashboard.css">
    <link rel="stylesheet" href="css/custom.css">

    <title>登陆</title>

</head>
<body>
<div id="main" v-cloak>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
            {{i18N.website_name}}
        </a>
        <input class="form-control form-control-dark w-100" type="text" :placeholder="i18N.search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <select id="i18N_select" class="form-control-sm">
                    <option :value="option.name" v-for="option in i18N.lib">{{option.value}}</option>
                </select>
            </li>
        </ul>
        <ul class="navbar-nav px-3" v-if="!not_login">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/user/logout">{{i18N.logout}}</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" :href="url.path" v-for="url in i18N.nav_data">
                                <span v-html="url.icon"></span>
                                &nbsp;
                                {{url.text}}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

                <div id="login_div" v-if="login_or_register && not_login">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h6>{{i18N.login}}</h6>
                    </div>
                    <div class="col-md-12 order-md-1 mt-3">
                        <p class="form-text text-muted">
                            <a href="javascript:login_or_register();">
                                {{i18N.login_title}}
                            </a>
                        </p>
                        <form id="login_form">
                            <div class="mb-3">
                                <label for="login_username">{{i18N.username}}</label>
                                <input type="text" class="form-control" id="login_username" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="login_password">{{i18N.password}}</label>
                                <input type="password" class="form-control" id="login_password" name="password">
                            </div>
                            <button id="login_btn" class="btn btn-outline-dark btn-block" type="button"
                                    v-on:click="login">
                                {{i18N.login}}
                            </button>
                            <a href="javascript:history.go(-1);" class="btn btn-secondary btn-block" role="button">
                                {{i18N.back}}
                            </a>
                        </form>
                    </div>
                </div>

                <div id="register_div" v-if="!login_or_register && not_login">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h6>{{i18N.register}}</h6>
                    </div>
                    <div class="col-md-12 order-md-1 mt-3">
                        <p class="form-text text-muted">
                            <a href="javascript:login_or_register();">
                                {{i18N.register_title}}
                            </a>
                        </p>
                        <form id="register_form">
                            <div class="mb-3">
                                <label for="register_username">{{i18N.username}}</label>
                                <input type="text" class="form-control" id="register_username" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="register_password">{{i18N.password}}</label>
                                <input type="password" class="form-control" id="register_password" name="password">
                            </div>
                            <div class="mb-3">
                                <label for="register_r_password">{{i18N.confirm}}{{i18N.password}}</label>
                                <input type="password" class="form-control" id="register_r_password">
                            </div>
                            <button id="register_btn" class="btn btn-outline-dark btn-block" type="button"
                                    v-on:click="register">
                                {{i18N.register}}
                            </button>
                            <a href="javascript:history.go(-1);" class="btn btn-secondary btn-block" role="button">
                                {{i18N.back}}
                            </a>
                        </form>
                    </div>
                </div>

                <div id="info_div" v-if="!not_login">
                    <p>已经登陆</p>
                </div>

            </main>
        </div>
    </div>

</div>

<script src="js/base/load.js"></script>
<script src="js/login.js"></script>
</body>
</html>