<html lang="en">
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>

    <link rel="stylesheet" href="../css/lib/bootstrap.css">
    <link rel="stylesheet" href="../css/lib/common.css">
    <link rel="stylesheet" href="../css/lib/link.css">
    <link rel="stylesheet" href="../css/lib/mobile.css">
    <link rel="stylesheet" href="../css/custom.css">

    <title>登陆</title>

</head>
<body>
<div id="main" v-cloak>

    <div class="container">
        <div class="aw-login-box">
            <div class="mod-head">
                <img src="../img/logo_larger.png" alt="" width="150">
                <h1>{{i18N.website_name}}</h1>
            </div>
            <div class="mod-body">
                <div id="login_div" v-if="login_or_register && not_login">
                    <form id="login_form">
                        <ul>
                            <li>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="login_username"
                                        name="name"
                                        :placeholder="i18N.username"
                                >
                            </li>
                            <li>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="login_password"
                                        name="password"
                                        :placeholder="i18N.password"
                                >
                            </li>
                            <li>
                                <a
                                        id="login_btn"
                                        class="btn btn-primary btn-block"
                                        type="submit"
                                        v-on:click.prevent="login"
                                >{{i18N.login}}</a>
                                <a href="javascript:history.go(-1);" class="btn btn-sm btn-default btn-block">
                                    {{i18N.back}}
                                </a>
                            </li>
                            <li class="last">
                                <a href="javascript:login_or_register();">{{i18N.login_title}}</a>
                            </li>
                            <li class="text-center meta" hidden>
                                <a href="#"></a>
                                &nbsp;•&nbsp;
                                <a href="#"></a>
                            </li>
                        </ul>
                    </form>
                </div>
                <div id="register_div" v-if="!login_or_register && not_login" class="aw-register-box">
                    <form id="register_form">
                        <ul>
                            <li>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="register_username"
                                        name="name"
                                        :placeholder="i18N.username"
                                >
                            </li>
                            <li>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="register_password"
                                        name="password"
                                        :placeholder="i18N.password"
                                >
                            </li>
                            <li>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="register_r_password"
                                        :placeholder="i18N.confirm+i18N.password"
                                >
                            </li>
                            <li>
                                <a
                                        id="register_btn"
                                        class="btn btn-primary btn-block"
                                        type="submit"
                                        v-on:click.prevent="register"
                                >{{i18N.register}}</a>
                                <a href="javascript:history.go(-1);" class="btn btn-sm btn-default btn-block">
                                    {{i18N.back}}
                                </a>
                            </li>
                            <li class="last">
                                <a href="javascript:login_or_register();">{{i18N.register_title}}</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <component-footer></component-footer>
    <component-menu></component-menu>
</div>

<script src="../js/base/load.js"></script>
<script src="../js/lib/bootstrap-3.4.0.min.js"></script>
<script src="../js/m/login.js"></script>
</body>
</html>