<html lang="en">
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>

    <link rel="stylesheet" href="../css/lib/bootstrap.css">
    <link rel="stylesheet" href="../css/lib/common.css">
    <link rel="stylesheet" href="../css/lib/link.css">
    <link rel="stylesheet" href="../css/lib/user-setting.css">
    <link rel="stylesheet" href="../css/lib/webuploader.css">
    <link rel="stylesheet" href="../css/lib/mobile.css">
    <link rel="stylesheet" href="../css/custom.css">

    <title>设置</title>

</head>
<body>
<div id="main" v-cloak>
    <component-header
            :not_login="not_login"
            :user="user"
    ></component-header>
    <div class="container padding-0">

        <div class="aw-people-detail">
            <div class="mod-head clearfix">
                <img :src="user.avatar" alt="" class="img" width="50">
                <div class="title clearfix">
                    <h1 class="pull-left">
                        {{user.name}}
                    </h1>
                </div>
            </div>
            <div class="mod-body clearfix">
                <ul>
                    <li>
                        <b>{{user.integral}}</b>
                        {{i18N.integral}}
                    </li>
                    <li>
                        <b>{{user.level}}</b>
                        {{i18N.level}}
                    </li>
                </ul>
            </div>
            <div class="mod-footer clearfix">
                <!-- Nav tabs -->
                <ul role="tablist">
                    <li role="tab" class="active">
                        <a href="#information" role="tab" data-toggle="tab">{{i18N.information}}</a>
                    </li>
                    <li role="tab">
                        <a href="#certification" role="tab" data-toggle="tab">{{i18N.certification}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="aw-box">
            <div class="tab-content">
                <div class="tab-pane active" id="information" role="tabpanel">
                    <div class="mod card-mod people-profile">
                        <div class="mod-head">
                            <h2>{{i18N.information}}</h2>
                        </div>
                        <div class="mod-body">
                            <lable>{{i18N.username}}:</lable>
                            <input class="form-control" type="text" :value="user.name">
                            <lable>{{i18N.email}}:</lable>
                            <input class="form-control" type="text" :value="user.email">
                            <lable>{{i18N.introduction}}:</lable>
                            <input class="form-control" type="text" :value="user.introduction">
                            <h5>{{i18N.avatar}}{{i18N.setting}}</h5>
                            <div id="uploader" class="wu-example mb-3">
                                <!--用来存放文件信息-->
                                <div id="thelist" class="uploader-list"></div>
                                <div class="btns">
                                    <div id="picker">
                                        {{i18N.upload}}{{i18N.avatar}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-success btn-slarge" onclick="">
                            {{i18N.save}}
                        </a>
                    </div>
                </div>
                <div class="tab-pane" id="certification" role="tabpanel">
                    <div v-show="!not_sumbit_certification">
                        <div class="mod card-mod people-profile">
                            <div class="mod-head">
                                <h2>{{i18N.certification}}</h2>
                            </div>
                            <div class="mod-body">
                                <form id="certification_form">
                                    <input id="certification_img" name="img" hidden>
                                    <div class="form-group">
                                        <label for="certification_type">
                                            {{i18N.type}}
                                        </label>
                                        <select class="form-control" id="certification_type" name="type">
                                            <option v-for="(type,key) in i18N.certification_type" :value="key">
                                                {{type}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="certification_license">
                                            {{i18N.license}}
                                        </label>
                                        <input type="text" class="form-control"
                                               id="certification_license"
                                               name="license"
                                               :placeholder="i18N.license_alert"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="certification_license">
                                            {{i18N.certification}}{{i18N.info}}
                                        </label>
                                        <input type="text" class="form-control"
                                               name="info"
                                               :placeholder="i18N.certification+i18N.info"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="certification_file">
                                            {{i18N.upload}}{{i18N.certification}}{{i18N.file}}
                                        </label>
                                        <div class="wu-example mb-3">
                                            <!--用来存放文件信息-->
                                            <div class="uploader-list"></div>
                                            <div class="btns">
                                                <div id="certification_file">
                                                    {{i18N.upload}}{{i18N.certification}}{{i18N.file}}
                                                </div>
                                            </div>
                                        </div>
                                        <p class="help-block">{{i18N.certification_file_alert}}</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-success btn-slarge" onclick="submitCertification()">
                                {{i18N.submit}}
                            </a>
                        </div>
                    </div>
                    <div v-show="not_sumbit_certification">
                        <div class="mod card-mod people-profile">
                            <div class="mod-head">
                                <h2>{{i18N.certification}}{{i18N.info}}</h2>
                            </div>
                            <div class="mod-body">
                                <h1 class="text-center" v-if="certification_data.passed == null">
                                    <p class="h3 text-danger">
                                        {{i18N.certification}}{{i18N.info}}{{i18N.under_review}}
                                    </p>
                                    <p>
                                        {{certification_data.start_time}}
                                    </p>
                                </h1>
                                <h1 class="text-center" v-if="certification_data.passed">
                                    <p class="h3 text-success">
                                        {{certification_data.info}}
                                    </p>
                                    <p class="h4"
                                       v-for="(type,key) in i18N.certification_type"
                                       v-if="certification_data.type == key"
                                    >
                                        {{type}}
                                    </p>
                                    <p>
                                        {{certification_data.start_time}} - {{certification_data.end_time}}
                                    </p>
                                </h1>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <component-footer></component-footer>
    <component-menu></component-menu>
</div>

<script src="../js/base/load.js"></script>
<script src="../js/lib/bootstrap-3.4.0.min.js"></script>
<script src="../js/lib/md5.js"></script>
<script src="../js/lib/webuploader.min.js"></script>
<script src="../js/m/setting.js"></script>
</body>
</html>