<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script th:src="@{/js/base/load_css.js}"></script>
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap-4.0.0.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <title>后台管理</title>

</head>
<body>
<div id="main" v-cloak>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/user/admin">
            {{i18N.website_name}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" v-for="url in i18N.nav_data">
                    <a class="nav-link" :href="url.path">
                        {{url.text}}
                        <span v-html="url.icon"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">{{i18N.logout}}</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" :placeholder="i18N.search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{i18N.search}}</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h6>{{i18N.admin_message}}</h6>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <select id="table_select" class="form-control-sm">
                            <option :value="table.value" v-for="table in table_data">{{table.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <form id="save_or_update_form">
                        <table id="table" style="white-space:nowrap;" class="table table-responsive">
                            <thead>
                            <tr v-for="(object,index) in query_data" v-if="index == 0">
                                <th>
                                    <a
                                            href="javascript:void(0)"
                                            v-on:click.capture="update(0)"
                                            data-toggle="modal"
                                            :data-target="'#'+table+'Modal'"
                                            class="text-success"
                                    >
                                        {{i18N.add}}
                                    </a>
                                </th>
                                <th v-for="attribute in attribute_data">{{attribute.name}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="object in query_data">
                                <td>
                                    <a :href="'javascript:deleteOne('+object.id+')'" class="text-danger">
                                        {{i18N.delete}}
                                    </a>
                                    <a
                                            href="javascript:void(0)"
                                            v-on:click.capture="update(object.id)"
                                            data-toggle="modal"
                                            :data-target="'#'+table+'Modal'"
                                    >{{i18N.update}}</a>
                                </td>
                                <td v-for="o in object">
                                    <span v-if="o instanceof Object">
                                        {{o.id}}
                                    </span>
                                    <span v-else>{{o}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div>
                        {{i18N.page_number}}:{{page}}/{{total_pages}}
                        {{i18N.total_elements}}:{{total_elements}}
                        {{i18N.page_size}}：
                        <select id="page_size_select"
                                :value="size"
                                class="form-control-sm">
                            <option
                                    :value="num"
                                    v-for="num in total_elements"
                                    v-if="num%10==0&&num<=1000"
                            >
                                {{num}}
                            </option>
                        </select>
                        {{i18N.sort}}：
                        <select
                                id="table_sort"
                                :value="attribute"
                                v-for="(object,index) in query_data"
                                v-if="index == 0"
                                class="form-control-sm">
                            <option
                                    v-for="(value,key) in object"
                                    :value="key"
                            >
                                {{key}}
                            </option>
                        </select>
                        {{i18N.direction}}：
                        <select
                                id="table_sort_direction"
                                :value="direction"
                                class="form-control-sm">
                            <option value="DESC">{{i18N.desc}}</option>
                            <option value="ASC">{{i18N.asc}}</option>
                        </select>
                        <a href="javascript:ajax_query();" class="btn btn-sm btn-primary">{{i18N.submit}}</a>
                    </div>
                    <div class="pt-3">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <!--:href="'?table='+table+'&page='+(page-index)+'&size='+size+'&attribute='+attribute+'&direction='+direction"-->
                                    <a
                                            class="page-link"
                                            href="javascript:prev_query();"
                                            v-if="(page-index)>0"
                                            aria-label="Previous"
                                    >
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a
                                            class="page-link"
                                            :href="'?table='+table+'&page=1&size='+size+'&attribute='+attribute+'&direction='+direction"
                                            aria-label="Previous"
                                            v-if="page!=1"
                                    >
                                        <span aria-hidden="true">1</span>
                                    </a>
                                </li>
                                <li class="page-item"
                                    v-for="index in page"
                                    :key="index"
                                    v-if="(index>page-5)&&(index<page)&&(index>1)"
                                >
                                    <a
                                            class="page-link"
                                            :href="'?table='+table+'&page='+(index)+'&size='+size+'&attribute='+attribute+'&direction='+direction"
                                    >
                                        {{index}}
                                    </a>
                                </li>
                                <a class="page-link text-success"
                                   :href="'?table='+table+'&page='+page+'&size='+size+'&attribute='+attribute+'&direction='+direction"
                                >
                                    {{page}}
                                </a>
                                <li class="page-item"
                                    v-for="index in 5"
                                    :key="index"
                                    v-if="(page+index)<total_pages"
                                >
                                    <a
                                            class="page-link"
                                            :href="'?table='+table+'&page='+(page+index)+'&size='+size+'&attribute='+attribute+'&direction='+direction"
                                    >
                                        {{page+index}}
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a
                                            class="page-link"
                                            :href="'?table='+table+'&page='+total_pages+'&size='+size+'&attribute='+attribute+'&direction='+direction"
                                            v-if="page!=total_pages"
                                            aria-label="Previous"
                                    >
                                        <span aria-hidden="true">{{total_pages}}</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a
                                            class="page-link"
                                            href="javascript:next_query();"
                                            v-if="(page+index)<=total_pages"
                                            aria-label="Next"
                                    >
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <select id="i18N_select" class="form-control-sm container mb-3">
                    <option :value="option.name" v-for="option in i18N.lib">{{option.value}}</option>
                </select>
            </main>
        </div>
    </div>

    <!--自动批量生成管理模态框-->
    <base-modal
            :name="table"
            :title="table+i18N.management"
            :body="modal_data"
    ></base-modal>

</div>

<script th:src="@{/js/lib/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{/js/lib/popper-1.12.9.min.js}"></script>
<script th:src="@{/js/lib/bootstrap-4.0.0.min.js}"></script>
<script th:src="@{/js/base/load.js}"></script>
<script th:src="@{/js/modal.js}"></script>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>