<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/lib/bootstrap-4.0.0.min.css}">
    <link rel="stylesheet" th:href="@{/css/lib/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <title>后台管理</title>

</head>
<body>
<div id="main" v-cloak>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
            {{i18N.website_name}}
        </a>
        <input class="form-control form-control-dark w-100" type="text" :placeholder="i18N.search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <select id="i18N_select" class="form-control-sm">
                    <option :value="option.name" v-for="option in i18N.lib">{{option.value}}</option>
                </select>
            </li>
        </ul>
        <ul class="navbar-nav px-3" v-if="!not_login">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/user/logout">{{i18N.logout}}</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">

            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" :href="url.path" v-for="url in i18N.nav_data">
                                <span v-html="url.icon"></span>
                                &nbsp;
                                {{url.text}}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h6>This is admin page</h6>
                </div>
            </main>
        </div>
    </div>

</div>

<script th:src="@{/js/base/load.js}"></script>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>