<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/lib/bootstrap-4.0.0.min.css}">
    <link rel="stylesheet" th:href="@{/css/lib/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <title>后台管理</title>

</head>
<body>
<div id="main" v-cloak>

    <!--nav bar begin-->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
            {{i18N.website_name}}
        </a>
        <input class="form-control form-control-dark w-100" type="text" :placeholder="i18N.search">
        <ul class="navbar-nav px-3" v-if="!not_login">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/user/logout">{{i18N.logout}}</a>
            </li>
        </ul>
    </nav>
    <!--nav bar end-->
    <!--container begin-->
    <div class="container-fluid">
        <div class="row">
            <!--left nav begin-->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" :href="url.path" v-for="url in i18N.nav_data">
                                <span v-html="url.icon"></span>
                                &nbsp;
                                {{url.text}}
                            </a>
                            <div class="ml-3 mt-3">
                                <select id="i18N_select" class="form-control-sm">
                                    <option :value="option.name" v-for="option in i18N.lib">{{option.value}}</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--left nav end-->
            <!--main beign-->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h6>{{i18N.admin_message}}</h6>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <!--table select-->
                        <select id="table_select" class="form-control-sm">
                            <option :value="table.value" v-for="table in table_data">{{table.name}}</option>
                        </select>
                    </div>
                </div>
                <!--table show-->
                <div class="table-responsive">
                    <table class="table table-striped table-sm text-center" style="white-space:nowrap;">
                        <!--table name-->
                        <thead class="thead-light">
                        <tr v-for="(object,index) in query_data" v-if="index == 0">
                            <th scope="col" v-for="(value,key) in object">{{key}}</th>
                        </tr>
                        </thead>
                        <!--table content-->
                        <tbody>
                        <tr v-for="object in query_data">
                            <td v-for="o in object">
                                <span v-if="o instanceof Object">
                                    {{o.id}}
                                </span>
                                <span v-else>{{o}}</span>
                            </td>
                        </tr>
                        </tbody>
                        <!--table page-->
                        <tfoot>
                        <tr>
                            <td>{{i18N.page_number}}:{{page}}/{{total_pages}}</td>
                            <td>{{i18N.total_elements}}:{{total_elements}}</td>
                            <td>
                                {{i18N.page_size}}：
                                <select id="page_size_select">
                                    <option
                                            :value="num"
                                            v-for="num in total_elements"
                                            v-if="num%10==0&&num<=1000"
                                    >
                                        {{num}}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a
                                        class="page-link"
                                        :href="'?table='+table+'&page='+(page-index)+'&size='+size"
                                        v-if="(page-index)>0"
                                        aria-label="Previous"
                                >
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"
                                v-for="index in 5"
                                :key="index"
                                v-if="(page-index)>0"
                            >
                                <a
                                        class="page-link"
                                        :href="'?table='+table+'&page='+(page-index)+'&size='+size"
                                >
                                    {{page-index}}
                                </a>
                            </li>
                            <a class="page-link" :href="'?table='+table+'&page='+page+'&size='+size">{{page}}</a>
                            <li class="page-item"
                                v-for="index in 5"
                                :key="index"
                                v-if="(page+index)<=total_pages"
                            >
                                <a
                                        class="page-link"
                                        :href="'?table='+table+'&page='+(page+index)+'&size='+size"
                                >
                                    {{page+index}}
                                </a>
                            </li>
                            <li class="page-item">
                                <a
                                        class="page-link"
                                        :href="'?table='+table+'&page='+(page+index)+'&size='+size"
                                        v-if="(page+index)<total_pages"
                                        aria-label="Next"
                                >
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </main>
            <!--main end-->
        </div>
    </div>
    <!--container end-->
</div>

<script th:src="@{/js/base/load.js}"></script>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>